<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% if(currentUser && currentUser.id === profile.userId) { %>
      <div class="buttons">
        <form style="display:initial" action="/locations/<%= profile.locationId %>/profiles/<%= profile.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete Profile</button
        </form>
        <a href="/locations/<%= profile.locationId %>/profiles/<%= profile.id %>/edit" class="btn btn-warning">Edit</a>
      </div>
      <% } %>

      <div>
      	<div>

          <div class="username">
      			<h1><%= profile.username %></h1>
          </div>
        <hr>
          <div class="row" id="rowp">
      		 <div class="column" id="avatar">
      			 <img  width="90%" height="90%" src="<%= profile.avatar %>" alt="profile picture">
      		 </div>

          <div class="column">
          <h3> About Me </h3>
           <h5> <%= profile.aboutMe %></h5>
          <a class="portfolio" href="<%= profile.link %>" font-size="30px" target="_blank">View My Portfolio</a>
          <h5 class="email"> <%= user.email %> </h5>
          </div>
          </div>

          <hr>
          <div class="row" id="rowp">
          <h2>Sample Photos</h2>
          <div>
          <div class="column">
      			<img  width="100%" height="100%" src="<%= profile.pic1 %>" alt="sample image">
      		</div>

          <div class="column">
      			<img  width="100%" height="100%"  src="<%= profile.pic2 %>" alt="sample image">
      		</div>

          <div class="column">
      			<img  width="100%" height="100%"  src="<%= profile.pic3 %>" alt="sample image">
      		</div>

          <div class="column">
      			<img  width="100%" height="100%"  src="<%= profile.pic4 %>" alt="sample image">
      		</div>

        </div>
        </div>
      </div>




    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
