<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% if(currentUser) { %>
      <form style="display:initial" action="/locations/<%= profile.locationId %>/profiles/<%= profile.id %>/destroy" method="post">
      <button type="submit" class="btn btn-danger">Delete Profile</button
    </form>
       <a href="/locations/<%= profile.locationId %>/profiles/<%= profile.id %>/edit" class="btn btn-warning">Edit</a>
      <% } %>

      <div>
      	<div>
      			<h1><%= profile.username %></h1>
      		<div class="thumbnail">
      			<img  width="30%" height="30%" src="<%= profile.avatar %>" alt="user profile image">
      		</div>
      	</div>
      </div>



    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
