<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% if(currentUser) { %>
      <div class="buttons">
        <form style="display:initial" action="/locations/<%= profile.locationId %>/profiles/<%= profile.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete Profile</button
        </form>
        <a href="/locations/<%= profile.locationId %>/profiles/<%= profile.id %>/edit" class="btn btn-warning">Edit</a>
      </div>
      <% } %>

      <div>
      	<div>

          <div class="username">
      			<h1><%= profile.username %></h1>
            <h3>Contact: <%= user.email %> </h3>
          </div>


      		<div class="avatar">
      			<img  width="30%" height="30%" src="<%= profile.avatar %>" alt="profile picture">
      		</div>

          <div class="aboutme">
          <h4> About Me</h4>
           <h6> <%= profile.aboutMe %></h6>
          </div>

          <a href="<%= profile.link %>" target="_blank">Portfolio</a>

          <div class="row">
          <h2>Portfolio</h2>
          <div>
          <div class="column">
      			<img  width="100%" height="100%" src="<%= profile.pic1 %>" alt="sample image">
      		</div>

          <div class="column">
      			<img  width="100%" height="100%"  src="<%= profile.pic2 %>" alt="sample image">
      		</div>

          <div class="column">
      			<img  width="100%" height="100%"  src="<%= profile.pic3 %>" alt="sample image">
      		</div>

          <div class="column">
      			<img  width="100%" height="100%"  src="<%= profile.pic4 %>" alt="sample image">
      		</div>

        </div>
        </div>
      </div>




    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
